body {
    background-color: rgb(219, 238, 226);
    padding: 0;
    margin: 0;
}

header {
    padding: 50px;
    text-align: center;
    background-position: center;
    background-image: url(./header.png);
    position: relative;
    border-bottom: 3px solid white;
}

header h1 {
    font-family: 'Aldrich';
    color: white;
    background-color: rgba(255, 255, 255, 0.164);
    font-size: 150px;
    border: 5px solid white;
    border-radius: 5px;
    width: 550px;
    margin: 0 auto;
    padding: 60px;
} 

a {
    text-decoration: none;

}

h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 62px;
    font-weight: 600;
    text-transform: uppercase;
}

h3 {
    font-family: 'Oswald', sans-serif;
    margin-left: 160px;
    color: rgb(33, 68, 36);
    font-size: 32px;
}

p {
    font-family: 'Varela Round', sans-serif;
    font-size: 42px;
    color: rgb(33, 68, 36);
}

nav {
    top: 50px; 
    position: relative;
}

nav a {
    font-family: 'Aldrich';
    border: 3px solid white;
    border-radius: 3px; 
    font-size: 40px;
    font-weight: 900;
    color: white;
    padding: 10px;
    margin: 6px;
    display: inline-block;
    text-transform: uppercase;
}

nav a:hover {
    background-color: rgba(141, 155, 139, 0.440);
}

.ourteam {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    color: rgb(33, 68, 36);
    letter-spacing: 5px;
}

.photo1 {
    margin-left: 70px;
    width: 380px;
    height: 550px;
    border: 5px solid rgb(28, 58, 31);
    border-radius: 2px;
}

.photo2 {
    margin-left: 70px;
    width: 380px;
    height: 530px;
    border: 5px solid rgb(28, 58, 31);
    border-radius: 2px;
}

.photo3 {
    margin-left: 70px;
    width: 380px;
    height: 550px;
    border: 5px solid rgb(28, 58, 31);
    border-radius: 2px;
}

.samir {
    background-color: rgb(201, 224, 210);
    padding-top: 20px;
    margin-bottom: -250px;
    position: relative;
}

.unal {
    background-color: rgb(178, 216, 192);
    padding-top: 20px;
    margin-bottom: -250px;
    position: relative;
}

.nasib {
    background-color: rgb(152, 202, 170);
    padding-top: 20px;
    margin-bottom: -250px;
    position: relative;
    width: 100%;
}

.info1 {
    width: 60%;
    left: 500px;
    bottom: 560px;
    position: relative;
}

.info2 {
    width: 60%;
    left: 500px;
    bottom: 540px;
    position: relative;
}

.info3 {
    width: 60%;
    left: 500px;
    bottom: 560px;
    position: relative;
}

.contact {
    top: 250px;
    position: relative;
}

.contact p {
    font-size: 22px;
}

#date {
    font-size: 20px;
    margin-left: auto; 
    margin-right: 0;
    float: right; 
}