body {
    padding: 0;
    margin: 0; 
}

header {
    padding: 50px;
    text-align: center;
    background-position: center;
    background-image: url(./header.png);
    position: relative;
    border-bottom: 3px solid white;
}

header h1 {
    font-family: 'Aldrich';
    color: white;
    background-color: rgba(255, 255, 255, 0.164);
    font-size: 150px;
    border: 5px solid white;
    border-radius: 5px;
    width: 550px;
    margin: 0 auto;
    padding: 60px;

} 

a {
    text-decoration: none;
    color: rgb(8, 87, 38)
}

h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 52px;
    font-weight: 500;
    text-transform: uppercase;
}

p {
    font-size: 32px;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}

nav {
    top: 50px; 
    position: relative;
}

nav a {
    font-family: 'Aldrich';
    border: 3px solid white;
    border-radius: 3px; 
    font-size: 40px;
    font-weight: 900;
    color: white;
    padding: 10px;
    margin: 6px;
    display: inline-block;
    text-transform: uppercase;
}

nav a:hover {
    background-color: rgba(141, 155, 139, 0.440);
}

main {
    background-image: url(./ADA.jpg);
}

.welcome {
    background-color: rgba(175, 207, 187, 0.89);
    padding: 100px;
    position: relative;
    color: rgb(33, 68, 36);
    border-bottom: 1px solid rgb(55, 92, 58); 
}

.about {
    background-color: rgba(143, 185, 159, 0.89);
    padding: 30px;
    color: rgb(33, 68, 36);
}

.about p {
    text-align: justify;
    font-size: 22px;
}

.about a:hover {
    color:rgb(45, 139, 53);
}